header{
    display: inline-block;
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 30px;
    font-size: 30px;
    position:fixed;
}
body{
    background-image: url('Kaiserreich.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}

nav{
    display: inline-block;
    width: 200px;
    height: auto;
    background-color: rgba(139, 53, 67, 1);
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}
main{
    display: inline-block;
    width: 800px;
}
footer{
    position: absolute;
    bottom: 0;
}
footer a{
    display: inline-block;
    background-color: rgb(139, 53, 67);
    padding: 5px;
    border-radius: 10px;
    color:lightgray;
    text-decoration: none;
}
nav a{
    color:lightgray;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
@media (max-width:600px){
    nav{
        display:block;

        
    }
    header{
        display:block;
        font-size: 75%;
        position:inherit;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        width:336px;
        background-color: rgb(139, 53, 67);
        margin-bottom: 5px;
        margin-left: 0px;
     
    }
    body{
        background-size: auto;
    }
}