header{
    display: inline-block;
    position: fixed;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
}
body{
    background-image: url('Kaiserreich.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}

nav{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgba(139, 53, 67, 1);
    padding: 10px;
    border-radius: 10px;
}
main{
    display: inline-block;
    width: 800px;
}
footer{
    position: absolute;
    bottom: 0;
}
footer a{
    display: inline-block;
    background-color: rgb(139, 53, 67);
    padding: 5px;
    border-radius: 10px;
    color:lightgray;
    text-decoration: none;
}
nav a{
    color:lightgray;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}