html,body{
    height:100%;
}
header{
    display:block;
    background-color: aqua;
    width:auto;
}
nav{
    display:block;
    background-color:grey;
    
}
main{
    display:inline-block;
}
img{
    max-width: 80%;
}
@media (min-width:600px){
    nav{
        display:inline-block;
        width:150px;
        vertical-align: top;
        height:100%;
        padding-left:10px;
    }
    main{
        width:1000px;
        padding-left: 10px;
    }
    figure{
        width:50%;
        display:inline-block;
        float:right;
        vertical-align: top;
    }
}
