html,body{
    height:100%;
}
body{
    background-image: url(officeblur.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(164,175,174);
    text-align:center;
}
ul{
    text-align: left;
}
header{
    width:;
    background-color: darkred;
    border-radius: 40px;
    margin: 15px;
    align-content: center;
}
img{
    height:150px;
    max-height:30%;
}
#saker{
    margin-left:8px;
}
nav h2{
    display: inline-block;
    font-size: 25px;
    background-color: rgb(228,228,228);
    border-radius: 20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
}
main{
    background-color:rgba(228,228,228,0.9);
    margin-left:10px;
    margin-right:10px;
    padding:5px;
    border-radius:20px;
}
p{
    font-size: 16px;
    text-align: left;
}
section#standardsida{
    display: none;
}
section#schysstsida{
    display: none;
}
section#sakersida{
    display: none;
}
nav{
    margin:0 auto;
    max-width: 95%;
    cursor:pointer;
}
@media (min-width:500px){
    body{
        text-align: left;
    }
    nav{
        margin-left:15px;
    }
    section{
        padding:10px;
    }
    #footer{
        width: 600px;
    }
    section img{
        float:right;
    }
    li{
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    main{
        margin-left: 20px;
        margin-right: 20px;
    }
}

section img{
    align-content: center;
    max-height:80px;
}
li{
    font-size: 16px;
}
ul{
    padding-left:17px;
}
#footer{
    background-color: rgba(228,228,228,0.9);
    padding:10px;
    border-radius: 20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
    font-size:12px;
}